<b>Part I: Supervised Learning</b>
<br><br>Import Required Libraries to perform ML

# Name = Amol G, Purkar
PGA WD 32
ML 1 Test

In [53]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE

from sklearn.metrics import roc_curve
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
import xgboost as XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB

In [54]:
bank=pd.read_csv(r"D:\24 Machine Learning Question Paper 1 with datasets\bank.csv", sep=";")
bank.head(20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [55]:
bank.shape

(41188, 21)

In [56]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [57]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

<h4>Find out the Numeric from the Dataset</h4>

In [58]:
print('Columns with Numeric Data Type : ',bank[bank.select_dtypes(include = ['int', 'float']).columns].shape[1],'\n\n',bank.columns[bank.dtypes != 'object'])
# bank[bank.select_dtypes(include=['int', 'float']).columns]

Columns with Numeric Data Type :  10

 Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed'],
      dtype='object')

<h4>Find out Object type Columns from the Dataset</h4>

In [59]:
print('\n\n\nColumns with Obejct Data Type : ',bank[bank.select_dtypes(include = ['object']).columns].shape[1],'\n\n', bank.columns[bank.dtypes == 'object'])
# bank[bank.select_dtypes(include = ['object']).columns]

Columns with Obejct Data Type :  11

 Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

<h4>Find out Categorical Columns from the Object Datatype Features of the Dataset</h4>

In [60]:
categorical_cols = []
non_categorical_cols = []
bank_obj_cols = bank.select_dtypes(include = ['object']).columns

for i in range(bank[bank.select_dtypes(include = ['object']).columns].shape[1]):
    if(len(bank[bank_obj_cols[i]].value_counts()) <= 8 ):
        categorical_cols.append(bank_obj_cols[i])
    else:
        non_categorical_cols.append(bank_obj_cols[i])
        
print("Categorical Columns with 8 or less than 8 unique values are : \n", categorical_cols)
print("\n \n Non Categorical Columns with more than 8 unique values are : \n", non_categorical_cols)

Categorical Columns with 8 or less than 8 unique values are :
 ['marital', 'education', 'default', 'housing', 'loan', 'contact', 'day_of_week', 'poutcome', 'y']


 Non Categorical Columns with more than 8 unique values are :
 ['job', 'month']

<h3> 1. What does the primary analysis of several categorical features reveal?</h3>

 
<h4> We have discovered that there are 11 object types features and 10 non-object data type</h4>
<h4> There are a total of 9 Features which have Categorical Data in the Dataset </h4>

<h3>2. Perform the following Exploratory Data Analysis</h3>

<h5> a. Missing Value Analysis</h5>

In [61]:
bank.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

<h5> b. Label Encoding wherever required </h5>

In [62]:
le = LabelEncoder()

bank[bank.select_dtypes(include = ['object']).columns] = bank[bank.select_dtypes(include = ['object']).columns].apply(le.fit_transform)
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  int32
 2   marital         41188 non-null  int32
 3   education       41188 non-null  int32
 4   default         41188 non-null  int32
 5   housing         41188 non-null  int32
 6   loan            41188 non-null  int32
 7   contact         41188 non-null  int32
 8   month           41188 non-null  int32
 9   day_of_week     41188 non-null  int32
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  int32
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int32
dtypes: float64(5), int32(11), int64(5)
memory usage: 4.9 MB

<h5>  Divide the Dataset into train and test sets </h5>

In [63]:
#from sklearn.model_selection import train_test_split

from sklearn.model_selection import train_test_split

bank_train,bank_test=train_test_split(bank,test_size=.2)

bank_train_x=bank_train.iloc[:,0:-1]
bank_train_y=bank_train.iloc[:,-1]

bank_test_x=bank_test.iloc[:,0:-1]
bank_test_y=bank_test.iloc[:,-1]

<h5> c. Selecting important features based on Random Forest </h5>

In [64]:
rfe = RandomForestClassifier()
rfe = RFE(rfe)

rfe.fit(bank_train_x, bank_train_y)

rfe.support_

array([ True,  True, False,  True, False, False, False, False, False,
        True,  True,  True,  True, False, False, False, False,  True,
        True,  True])

In [65]:
rfe_feature_selection = pd.DataFrame({'Var':bank_train_x.columns, 'Imp':rfe.support_})
rfe_feature_selection.sort_values('Imp', ascending = False )

               Var    Imp
0              age   True
9      day_of_week   True
18       euribor3m   True
17   cons.conf.idx   True
12           pdays   True
11        campaign   True
1              job   True
10        duration   True
3        education   True
19     nr.employed   True
8            month  False
7          contact  False
6             loan  False
5          housing  False
4          default  False
13        previous  False
14        poutcome  False
15    emp.var.rate  False
16  cons.price.idx  False
2          marital  False

<h5> d. Handling unbalanced data using SMOTE </h5>

In [66]:
from imblearn.over_sampling import SMOTE

# counter = Counter(bank_train_y)
print('Before \n', bank_train_y.value_counts())

smt = SMOTE()

bank_train_x_sm, bank_train_y_sm = smt.fit_resample(bank_train_x, bank_train_y)

print('====================\nAfter \n', bank_train_y_sm.value_counts())

Before
 0    29286
1     3664
Name: y, dtype: int64
====================
After
 0    29286
1    29286
Name: y, dtype: int64

<h5> e. Standardize the data using the anyone of the scalers provided by sklearn </h5>

In [67]:
from sklearn.preprocessing import StandardScaler, normalize

scalar = StandardScaler()
bank_sns1 = scalar.fit_transform(bank)

<h3>Q3. Build the following Supervised Learning models:</h3>

In [68]:
model_name_lst = []

AccuracyScore = []
PrecisionScore = []
Recall_Score = []
F1_score = []
Roc_Scr = []


def model_scores(model_name, model_obj):
    
    pred_y = model_obj.predict(bank_test_x)
    
#     print(pred_y)
    
#     ConfusionMatrix = confusion_matrix(pr_test_y, pr_pred_y) 
#     print('ConfusionMatrix')
#     print(ConfusionMatrix,'\n')

    AccuracyScore.append(np.round((model_obj.score(bank_test_x, bank_test_y))*100))

    PrecisionScore.append(((precision_score(bank_test_y, pred_y))*100).round(2))

    Recall_Score.append(((recall_score(bank_test_y, pred_y))*100).round(2))

    F1_score.append(((f1_score(bank_test_y, pred_y))*100).round(2))

    Roc_Scr.append(((roc_auc_score(bank_test_y, pred_y))*100).round(2))

    model_name_lst.append(model_name)

<h3> a. Logistic Regression classification</h3>

In [69]:
logreg = LogisticRegression(max_iter  =500)
logreg.fit(bank_train_x_sm, bank_train_y_sm)

# pred_y = logreg.predict(bank_test_x)

model_scores('Logistic Reg', logreg)

C:\Users\Amol purkar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

<h3>b. Ada Boost Classifier</h3>

In [70]:
ada = AdaBoostClassifier()
ada.fit(bank_train_x_sm, bank_train_y_sm)
model_scores('Ada Boost', ada)

<h3>c.  Naive Bayes</h3>

In [71]:
nb = GaussianNB()
nb.fit(bank_train_x_sm, bank_train_y_sm)
model_scores('Naive Bayes', nb)

<h3>d.  KNN</h3>

In [72]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(bank_train_x_sm, bank_train_y_sm)
model_scores('KNN', knn)

<h3>e.  Support Vector Machine</h3>

In [ ]:
svm = SVC()
svm.fit(bank_train_x_sm, bank_train_y_sm)
model_scores('SVM', svm)

<h3>Q4] Tabulate the performance metrics of all the above models
and tell which model performs better in predicting if the
client will subscribe to term deposit or not </h3>

<h3>Performance Metrics of all the above models </h3>

In [ ]:
Scores = pd.DataFrame({'Accuracy Score' : AccuracyScore, 'Precision Score': PrecisionScore, 'Recall Score': Recall_Score, 'F1 score': F1_score, 'Roc Scr':Roc_Scr}, index= [model_name_lst])
df = Scores.sort_values('Precision Score', ascending=False)
df

<h2>Part II : Time Series</h2>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima.model import ARIMA

from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [ ]:
tm = pd.read_csv(r"D:\24 Machine Learning Question Paper 1 with datasets\MonthWiseMarketArrivals_Clean.csv")
tm.head()

In [ ]:
tm.shape

<h4>Q1. Get the modal price of onion for each month for the Mumbai
market (Hint: set monthly date as index and drop
redundant columns)<h4>

In [ ]:
de = pd.DataFrame(tm.groupby('month').priceMod.mean().round(2))
de.sort_index()

In [ ]:
# Group the Data according to each month of the year in a sorted manner
date = pd.DataFrame(tm.groupby('date').priceMod.mean().round(2))
date.sort_index()

# Reset the index as an individual coulumn for converting into an integer format
date.reset_index(level=0, inplace = True)

In [ ]:
# Process the date column as per requirement in a different DF and add to the original DF

date2 = date['date'].str.split('-', expand = True)
date2.rename(columns = {0: 'month', 1:'year'}, inplace=True)
date2['month'] = date2['month'].replace({'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7, 
                             'August':8, 'September':9, 'October':10, 'November':11, 'December':12})
date2['full_Date'] = date2['year'].astype(str)+'-'+date2['month'].astype(str)
date2.head()

In [ ]:
# Add the processed Date column to the original Dataframe

date['Date'] = date2['full_Date']
date.drop(['date'], inplace= True, axis = 1)

date.Date = pd.to_datetime(date.Date, infer_datetime_format=True)
date_index = date.set_index(['Date'])

In [ ]:
date_index.info()

In [ ]:
date_index = date_index.sort_index()

<h4>Q2. Build time series model and check the performance of the model using RMSE</h4>

In [ ]:
date_index_log = np.log(date_index)
# result =  seasonal_decompose( tm_index_log.priceMod, period=10)
result =  seasonal_decompose( date_index.priceMod , period=12)
result.plot();

In [ ]:
date_index_log.shape

In [ ]:
# Build Model using SARIMAX

train = date_index_log[0:229]
test = date_index_log[229:]

model_sarima = SARIMAX(train, order=(10, 0, 0), seasonal_order=(0, 2, 0, 12))

In [ ]:
results = model_sarima.fit()

In [ ]:
results.predict()    #<- it prredicted for all the data we trained it on

In [ ]:
pred_result = results.predict(start = 231, end =242)

# pred_result = results.forecast(steps = 12)

pred_result_actual_scale = pd.DataFrame(np.exp(pred_result).round(2))

date_for_pred = ['2015-03-01', '2015-04-01','2015-05-01', '2015-06-01','2015-07-01','2015-08-01','2015-09-01',
'2015-10-01','2015-11-01','2015-12-01','2016-01-01','2016-02-01']

# pred_result_actual_scale = pd.concat([pred_result_actual_scale, pd.Series(date_for_pred)], axis = 1 )

pred_result_actual_scale['Date'] =  date_for_pred

pred_result_actual_scale.rename(columns={pred_result_actual_scale.columns[0]:'Predicted'}, inplace = True)

pred_result_actual_scale.rename(columns={pred_result_actual_scale.columns[1] : 'Date'}, inplace = True)

pred_result_actual_scale.Date = pd.to_datetime(pred_result_actual_scale.Date, infer_datetime_format=True)

pred_result_actual_scale = pred_result_actual_scale.set_index(['Date'])

In [ ]:
error = test['priceMod'] - pred_result_actual_scale['Predicted']
error

In [ ]:
import math


MSE = np.mean(np.square(error))
RMSE = math.sqrt(MSE)
mape = np.mean(np.abs(error *100 /pred_result_actual_scale['Predicted']))

print("Mean Square Error :", round(MSE,2))
print("Root Mean Square Error :", round(RMSE, 2))
print("Mean Absolute Percentage Error :", round(mape, 2))

In [ ]:
date_index_log.plot()

<h4>Q3. Plot ACF and PACF plots</h4>

In [ ]:
# ACF Plots

plot_acf(date_index_log.priceMod, lags = 30);

In [ ]:
# PACF Plots

plot_pacf(date_index_log.priceMod, lags = 50);

<h4>Q4. Exponential smoothing using Holt-Winterâ€™s technique and Forecast onion price for Mumbai market</h4>

Forecasting the Onion Prices for the next 12 months and validating it against the test set

In [ ]:
train_unlog = np.exp(train).round(2)
test_unlog = np.exp(test).round(2)

In [ ]:
train_unlog['priceMod'].plot(legend = True, label = 'Original', color='green') # train target data in green
pred_result_actual_scale['Predicted'].plot(legend = True, label = 'Predicted', color='blue') # Predicted target data in blue
test_unlog['priceMod'].plot(legend = True, label = 'Actual', color='red') # test target data in red

In [ ]:
error = test_unlog['priceMod'] - pred_result_actual_scale['Predicted']
error